<% content_for :title do %>Slurm<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="slurmmon.slurm-1.jobcount.max_running_one_user" data-title="One user Max running" data-view="Number" style="background-color:#2A76C6;" ></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="slurmmon.slurm-1.jobcount.max_pending_one_user" data-title="One user Max pending" data-view="Number" style="background-color:#ff9618;" ></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="slurmmon.slurm-1.jobcount.total_pending" data-title="Pending" data-view="Number" style="background-color:#ff9618;" ></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="slurmmon.slurm-1.jobcount.total_running" data-title="Running" data-view="Number" style="background-color:#2A76C6;" ></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="slurmmon.slurm-1.sdiag.jobs_submitted" data-title="Submitted" data-view="Number" style="background-color:#2A76C6;" ></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="slurmmon.slurm-1.sdiag.jobs_completed" data-title="Completed" data-view="Number" style="background-color:#ff9618;" ></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="slurmmon.slurm-1.sdiag.jobs_failed" data-title="Failed" data-view="Number" style="background-color:#ff9618;" ></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="slurmmon.slurm-1.sdiag.jobs_canceled" data-title="Canceled" data-view="Number" style="background-color:#2A76C6;" ></div>
    </li>
  </ul>
</div>
